﻿@charset "utf-8";
/* CSS Document */

/* For not selecting text */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*************************
    HIDE UNUSED ELEMENTS
**************************/
#ShowText,
#ShowJust,
#ShowGrammar,
#ShowLF,
#ShowUE,
#ShowCU,
#ShowVideo,
#ShowAudio {
  display: none;
}
/* Score Elements */
#myScoreElem,
#myScorePercElem {
  display: none;
}

/**********************
    GLOBAL TAGS
***********************/
html,body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "league_spartanregular", "Open Sans", sans-serif;
  font-size: 2.5em;
  color: #1c1c1c;
  margin: 0;
  overflow-y: auto;
  /*-webkit-overflow-scrolling: touch;*/
}

img {
  max-width: 100%;
  max-height: 750px;
}

a {
  text-decoration: underline;
  color: #1c1c1c;
  /*font-size: 15px;*/
  text-align: left;
}

/**********************
    CONTAINER
***********************/
body > div.content,
body > div.content > div.section,
body > div.content > div.section > div.activity {
  height: 100%;
  position: relative;
}

body > div.content {
  /*
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit 
	align-items: center;	
	height: 100%;
	left: 0px;
	position: absolute;
	text-align: center;
	width: 100%;
	display: table;
	padding-top:35px;
	padding-bottom:15px;
    */

  padding-top: 1%;
}

body > div.content > div.section {
  /*display: table-row;*/
}

body > div.content > div.section > div.activity {
  /*display: table-cell;
	vertical-align: middle;
    margin-bottom: 50px;
    */

  /* Full Width
    padding: 0;
    */
}

/*******************************************
            TITAN CONTENT
*******************************************/

body > div.content > div.section > div.activity > div.activity_content {
  height: 80%;
  position: relative;
}

.activity_content_div.col-xs-12 {
  height: 100%;
  position: relative;
}

/*******************************************
        TITAN ACTIVITIES
*******************************************/

/* Used for Spacing of Internal Content Rows */
.activity_content.row .row {
  padding-top: 1%;
}

/**************
    RUBRIC
**************/

/* Used for old Rubric

.headerTitle, .fullBackground{
    margin-bottom: 30px;
}

.headerTitle{
	color: #1c1c1c;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
*/

/* Actual Rubric */
.activity_rubric {
  /*height: 5%;*/
  margin: 2% 0em;
}

.rubric_qualifier {
  /*
    color: #1c1c1c;
    font-size: 18px;
	padding-right: 10px;
	font-weight:bold;
    */
  display: none;
}
/*
html[dir="rtl"] .rubric_qualifier {
	padding-right: 0;
	padding-left: 10px;
}
*/
.rubric_content {
  color: #00a039;
  font-weight: bold;
  /*font-size: 2em;*/
  text-align: center;
  font-family: 'league_spartanmedium';
}

/*
.rubric_content > strong, .rubric_content > b{
	font-weight:900;
}
*/

/**********************
    BUTTONS
***********************/
button {
  font-weight: bold;
  border: medium none;
  cursor: pointer;
  /* 
    background-color: #3A332F;
    color: #fff; 
    width: auto;
    height: auto;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    padding: 0.7%;
    -webkit-box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.25);
    */
}

/* Check Answers */
#checkAnswers {
  position: absolute;
  right: 100px;
  bottom: 180px;
  background: #00a039;
  color: #FFF;
  text-decoration: none;
  width: 150px;
  height: 50px;
  -moz-appearance: none;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
  -webkit-box-shadow: -4px 6px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -4px 6px 0px 0px rgba(0,0,0,0.15);
  box-shadow: -4px 6px 0px 0px rgba(0,0,0,0.15);
  font-family: 'league_spartanmedium';
}

/* On Focus */
button#checkAnswers:focus {
  background-color: #a0a0a0;
  
  /* 
  color: #fff !important;
  border-color: #fff;
  box-shadow: none;
  text-shadow: none;
  outline: none; 
  */
}


#checkAnswers > div {
  /*
  border: 2px solid #1c1c1c;
  padding: 0px 20px;
  */
}

/* Duplicate class (also in Multiple.css: using display:none) - Used for hiding correct/wrong Graphics */
.hideMe {
  visibility: hidden;
}

/*
#checkAnswers > span {
    position: absolute;
    right: 31px;
    top: 7px;
}

#checkAnswers.pressed{
   color: #ec6108;
}

#checkAnswers.pressed > div {
    /*background: url("../../resources/layout/activities/check2.png");
    background-color: #1c1c1c;
    color: #fff !important;
    border-color: #fff;
    box-shadow: none;
    text-shadow: none;
}

html[dir="rtl"] #checkAnswers {
	left: 27px;
	right: auto;
}

#checkAnswers:active {
}

#checkAnswers[disabled]{
	
}
*/

/**********************
    JUSTIFICATION
***********************/

.newJustDiv {
  background-color: #ffc9c9;
  text-align: left;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  /*
    clear: both; 
	z-index: 1000;	
    */
}

.correctJust {
  background-color: #b2e2c3;
}
/*
.text_Just{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #1c1c1c;
    font-size: 20px;

}
*/

.closebtn {
  position: absolute;
  right: 8px;
  cursor: pointer;
  color: #696e74;

  /*top: 8px;*/
}

/*
.closebtn > img{
    padding-top: 0;
    padding-bottom: 0;
}
.showMe>.closebtn {
   
    color: #3a332f;
}
*/

/*******************************************
                TEMPLATES
*******************************************/

/* Used for Text */
.leftAlign {
  display: inline-block;
  text-align: left;
}
/* Used for width of Images */

.myImage55 {
  width: 50%;
}

.myImage45 {
  width: 45%;
}
.myImage35 {
  width: 35%;
}

/* Rubric's image */
.iconImage {
  margin-left: 20px;
}

/* PDF Icon in Links */
.linkTitle img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

/* General Border Class */
.imgBorder {
  
  /*
  border: 3px solid #357180;
  padding: 6px;
  background-color: white;
  */
}

/* For Display Activites */
.activity_content.row .plainText.row,
.activity_content.row .plainText.row .row {
  padding-top: 0;
}
.row.marginMe {
  margin: 0;
}

.activity_content.row .plainText.row.greenBack {
  background-color: #4dbd75;
  padding: 1% 0px 0.75% 0.75%;
}

/* Used for bold (attention seeker) messages */
.fullBackground {
  display: block;
  background-color: #357180;
  color: #fff;
  min-height: 5rem;
  margin-top: 3vh;
}
.fullBackground > span {
  display: inherit;
  transform: translateY(50%);
}

/* info with border */
.info, .info p {
  display: inline-block;
  color: #fff;
  background: #94c01b;
  padding: 10px 20px;
  text-align: center;
}

.textArrow:before {
  color: #1c1c1c;
  content: "• ";
}

/*animation feedback for all browsers

.feedback-animation{
  animation: animationFramesb ease-in 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFramesb ease-in 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFramesb ease-in 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFramesb ease-in 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFramesb ease-in 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFramesb{
  0% {
    opacity:0;
    transform:  translateX(-50%) translateY(-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    transform:  translateX(-50%) translateY(-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFramesb{
  0% {
    opacity:0;
    -moz-transform:  translateX(-50%) translateY(-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -moz-transform:  translateX(-50%) translateY(-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFramesb {
  0% {
    opacity:0;
    -webkit-transform:  translateX(-50%) translateY(-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translateX(-50%) translateY(-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFramesb {
  0% {
    opacity:0;
    -o-transform:  translateX(-50%) translateY(-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -o-transform:  translateX(-50%) translateY(-50%)   scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFramesb {
  0% {
    opacity:0;
    -ms-transform:  translateX(-50%) translateY(-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -ms-transform:  translateX(-50%) translateY(-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

/*end*/

/**********************
        UNUSED
***********************/

/*

ul.SourceItems > li,  ul.TargetItems > li {
    font-weight:bold;
    line-height: 30px;
    list-style: decimal outside none;
}


ul.SourceItems > li > span,  ul.TargetItems > li  > span{
	font-style:normal;
	font-weight:normal;
}
*/

/* Layout */
/*
.content{
	
    margin: 0 auto;
	position:absolute;
	left:0;
	right:0;
	top: 100px;
	width:100%;*/
/* In order to make the activity as fluid as possible I have changed this line from a default width of 702px to 100%.	
}
*/

/*animation tip for all browsers*/

/*
.element-animation{
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0% 0%;
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 0% 0%;
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 0% 0%;
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 0% 0%;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

/*end*/

/*if not span*/
/*
.activity_example{
	color:#0033cc;
    border-bottom: 1px dotted #0033cc;
}

.activity_special{
}

.itemIsActive {
	color:#00A7D2;
	cursor:pointer;
    font-style: italic;
    font-weight: bold;	
}

.itemIsDisabled {
	color:grey;
	cursor:none;
}

.itemIsExample {
	color:#639;
	cursor:none;
}


.targetIsActive {
}

.targetIsDisabled {
}

.targetIsExample {
}

*/

/* SHOW ANSWER BUTTON */
/*

#showAnswers  {
	float: right;
	margin-right:14px;
}

@media (max-width:768px) {
    button{
		padding: 1.6%;
	}
	
	#showAnswers  {
        bottom: 4%;
		right: 42%;
    }
}
*/

/*
html[dir="rtl"] #showAnswers {
	left: 98px;
	right: auto;
}
*/
.pressed {
  /* Have it in Comments for until we can figure out exactly the functionality
    and when it will change back.
	background-color: #ffa91f;*/
}

/*
.showAllWrong {
	color:red;
}

.checkDefault {
	 color: black;
}

.checkCorrect {
    font-weight: 800;
}
select.checkCorrect {
    color: #86C620;
}

svg.checkCorrect path {
    stroke: #86C620;
}

img.checkCorrect {
	-webkit-box-shadow: 4px 4px 2px 0 #86C620;
	-moz-box-shadow: 4px 4px 2px 0 #86C620;
	box-shadow: 4px 4px 2px 0 #86C620;
}

.checkWrong {
    font-weight: 800;
}

select.checkWrong {
    color: #F45D5D;
}

svg.checkWrong path {
    stroke:#F45D5D;
}

img.checkWrong {
    -webkit-box-shadow: 4px 4px 2px 0 #F45D5D;
	-moz-box-shadow: 4px 4px 2px 0 #F45D5D;
	box-shadow: 4px 4px 2px 0 #F45D5D;
}

.showAllCorrect {
    color: blue;
}

.underlined {
    text-decoration: underline;
}

.showMe {
    visibility:visible;
}

.highlighted {
	background-color:#CCC;
}

.floatLeft {
	float:left;

}
*/

/*NEW CSS for tablechoices == true*/

/*
@media (max-width:768px) {
    .floatLeft {
        clear: both;
		width: 100% !important;
    }
}

.tabs {
	background: #f8f3e5;
	padding: 12px 0;
	z-index:21;
	border-radius: 0px 0px 0px 15px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
}  

#facilitator, #facilitatorQ{
	width: 350px;
	height: auto;
	padding: 10px;
}

#facilitator > div > div, #facilitatorQ > div > div {
    line-height: 1.2;
    padding: 12px 40px 12px 25px;
}

.facilitatortab {
	height:60px; 
	width: 60px; 
	background-image: url("../../resources/layout/menu/btns_txt.png");
	background-size: 85% 85%;
	background-repeat: no-repeat;
	background-position: center;
	border:0;
	outline:0;
}

.facilitatortab.open{
	background-image: url("../../resources/layout/menu/btns_txt_off.png");
}

#facilitatorButton {
  bottom: 0;
  left: calc(100% - 520px) !important;
  cursor: pointer;
  z-index:11;
  outline : none;
  position : fixed;
  
  height:auto !important; 
  width:auto !important; 
  
  border: none;
  display:block;
  outline: 0;
}

#showtext > object {
	width:100%;
	height:100%;
}

#tools {
	bottom:0px;	
	background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px 10px 0 0;
    height: 50px;
    position: absolute;
    right: 130px;
    width: 60px;
}

#tools {
	display:none;
}
*/

/*
input[type='text'], input[type='email'], input[type='search'],
input[type='password'], textarea
{
	/*Reactivates input fields on iPad and webkit browsers since it was set as none at the top of this file.
	-webkit-user-select: text;
}
img.map, map area{
    outline: none;
}



.plainText{
    
}
.smallPlain{
	font-size:19px;	
}

@media (max-width:1024px) {
	.smallPlain{
		font-size:16px;	
	}
	
	body {
		font-size: 22px;
	}
}





.fa-thumbs-o-up {
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 45px;
    color: #1c1c1c;
}

.circle{

  font-size:15px;
  background:#cbaf7f;
  background:rgba(0,0,0,0);
  padding:30px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:6px solid #cbaf7f;
  text-align:center;
  vertical-align:middle;
  width:60px;
  height:60px;
  
}


.fa-times-circle-o{
font-size: 30px;

}

.activityNo{
	display:none;
	font-size: 20px;
    text-align: center;
    color: #1c1c1c;
    border: 2px transparent;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 3px;
    font-weight: bold;
    width: 110px;
    float: right;
    margin-right: 40px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.45);
}


#myScoreElem, #myScorePercElem {
	font-family: 'league_spartanregular', 'Open Sans', sans-serif;
	font-weight: bold;
    text-align: left;
    display: none;
    
    margin-bottom: 0;    
        
    opacity: 0;
    z-index: 16;
    
    padding: 0;
    background: none;
    font-size: 23px;
    color: #1c1c1c;    
    position: fixed;
    right: 10px;
    bottom: 5px;
    pointer-events: none;
    
    -webkit-box-shadow: unset;
	-moz-box-shadow: unset;
	box-shadow: unset;
}


#myScorePercElem > div{
    width: 156px;
    height: 48px;
    background: url("../../resources/layout/activities/score.png");
}

#myScorePercElem > span {
    position: absolute;
    right: 31px;
    top: 7px;
}

#myScoreElem>input, #myScorePercElem>span>input {
    width: 50px;
    text-align: right;
    border: medium none;
    background: none;
}

#myScoreElem>span{
    font-size: 32px;
}

.row{
	margin:0;
	padding:0px 30px 0px 30px;
}

.tableBorder {
	text-align:center;
}

.imageCenter{
	text-align:center;
}

.tableBorder p{
	display: inline-block;
	border-radius: 16px;
	color: #1c1c1c;
	background: #01336e;
	margin: 20px 10px 20px 10px;
	padding: 10px 20px 10px 20px;
	font-weight:600;
	font-style:italic;
}

.tableBorder img{
	padding: 10px;
	border-radius: 16px;
	background: #fff;
	margin-left:20px;
}

@media (max-width:768px){
	.tableBorder img{
		margin-left:0px;
		margin-top:20px;
	}
}

.titleColor{
	color:#ec008c;
	font-weight:600;
}

.tableList ul>li:before{
	content:none;
}

.tableList ul{
	list-style:number;
	border:2px solid #ec008c;
	margin:15px;
}
.tableList ul li{
	padding:18px;
}



.linkTitle {
    text-decoration: underline;
    font-weight: bold;
    -ms-word-break: break-all;
    word-break: break-all;


     word-break: break-word;	
	text-align:left;
}

.linkTitle:hover {
    color: #006891;
}

.myLink{
	text-align:left;
}

.footerColor{   
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0px;
	left: 0px;

	z-index: 10;
}

*/
.htmlDataBefore {
  text-align: left;
  /*font-size: 1.4em;*/
}