@charset "utf-8";
/* CSS Document */

/*CSS From ClickReveal*/
.showMe {
  display: none;
}

.inactive {
  /*
    background-color: #57b2d7;
	border-radius: 20px;
    */
  background-color: #fff;
  color: #565549;
  border: 2px solid #565549;
  padding: 0px 20px;
}

.active {
  /*
	background-color: #006891;
	border-radius: 20px;
    */
  background-color: #565549;
  color: #fff;
  border-color: #fff;
}

.clickMe {
  cursor: pointer;
  padding: 5px;
  word-wrap: break-word;
}

.clickMe img {
  width: 100%;
}

.showMe,
.showMeClone {
  padding: 2%;
  padding-right: 25px;
  text-align: left;
}

@media (max-width: 768px) {
  .showMe {
    padding: 3%;
  }
}

/*Blue Background in answers NECESSARY*/
.answers {
  height: 300px; /*how much blue background is y-extended*/
  background: transparent;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.top_border {
  /*background-image: url("../../resources/layout/top_border.png");*/
  background-repeat: repeat-x;
  width: 100%;
  height: 6px;
}

@media (max-width: 768px) {
  .top_border {
    /*background-image: url("../../resources/layout/top_border.png");*/
    width: 100%;
    background-repeat: repeat-x;
    height: 6px;
  }
}

.instruction {
  font-style: italic;
  display: block;
  text-align: center;
}

.lost {
  display: none;
}

.foo {
  height: auto;
  background: #f3ebd0;
}

/*TIP*/
.tip {
  position: relative;
}

.fa-paperclip::before {
  position: absolute;
  left: 18px;
  top: 6px;
  color: #fff;
  font-size: 29px;
}

.tip > .inactive {
  background: rgb(89, 83, 77); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(89, 83, 77, 1) 0%,
    rgba(65, 59, 54, 1) 50%,
    rgba(46, 41, 37, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(89, 83, 77, 1) 0%,
    rgba(65, 59, 54, 1) 50%,
    rgba(46, 41, 37, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(89, 83, 77, 1) 0%,
    rgba(65, 59, 54, 1) 50%,
    rgba(46, 41, 37, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tip > .active {
  background: #cbaf7f; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #cbaf7f 0%,
    #b59c71 50%,
    #876f49 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #cbaf7f 0%,
    #b59c71 50%,
    #876f49 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #cbaf7f 0%,
    #b59c71 50%,
    #876f49 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tip > .clickMe {
  position: absolute;
  left: 15px;
  width: 120px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 6px;
  color: #fff;
  text-align: right;
  padding-right: 30px;

  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.tip > .showMe,
.tip > .showMeClone {
  font-family: "league_spartanregular", "Open Sans", sans-serif;
  font-size: 24px;
  color: #2e2925;

  background: url("../../resources/layout/activities/cream_dust.png") repeat
    #fff;
  z-index: -1;
  padding-top: 40px;
  border: 4px solid #cbaf7f;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
}

.showMeClone {
  visibility: hidden;
  display: none;
}

.myTip {
  font-family: "league_spartanregular", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 768px) {
  .answers {
    height: 200px;
  }

  .answers.foo {
    height: auto;
  }
}
