@charset "utf-8";
/* CSS Document */

a img{
border:0;
}

img.imageChoicePos{
	vertical-align:top;
}

ul { 
	padding: 0 0 0 30px;
}

html[dir="rtl"] ul { 
	padding: 0 30px 0 0;
}

ul.TrueFalse {
	padding: 0;
}

ul.TrueFalse  li{
	list-style: none;
}

.SourceItems > li {
    clear: both;
}

.TrueFalse > ul {
	padding:0 0 0 12px;
}

html[dir="rtl"] .TrueFalse > ul {
	padding:0 12px 0 0;
}

.activity_content > ul > li {
	padding-top: 5px;
}

.TrueFalse > li > ul > li {
	cursor:pointer;
}

ul.SourceItems > li::before, ul.TrueFalse > li > ul > li::before, ul.TrueFalse > li::before {
    content: none;
}

.TrueFalse.DropDown > ul > li {
	cursor:default;
}

.TrueFalse > .stem {
	display: block;
}

.TrueFalse > li > ul {
	 padding: 0 0 0 10px;
}

html[dir="rtl"] .TrueFalse > li > ul {
	 padding: 0 10px 0 0;
}

.TrueFalse > li > ul > li {
	list-style: none;
	padding: 1% 5% 0 0;
}

html[lang="ar"] .TrueFalse > li > ul > li {
    list-style: inside none arabic-indic;
}

ul.SourceItems > li, ul.TargetItems > li {
    font-weight: normal;
	/*color:#000;*/
}

html[dir="rtl"] .TrueFalse > li > ul > li {
	padding: 1% 0 0 5%;
}

html[dir="rtl"] .TrueFalse > li > ul > li > span {
	left:auto;
	right: -13px;
}

.stem {
	font-weight:normal;
	/*color:#000;*/
}

.TrueFalse.DropDown > .stem {
	display: block;
	width: 100%;
}

.TrueFalse.DropDown > .functionality {
	display: inline-table;
}

.TrueFalse.DropDown > .marks {
	display: inline-table;
	width: 20%;
	vertical-align:top;
}

 li > input[type="radio"]{ 
  display:none; 
}

 li > input[type="checkbox"]{ 
  display:none; 
}

select> .checkDefault{
	background: #eee;
	border-bottom: 0.5px solid #EA650D;
}

select> .checkDefault:last-child{
	border-bottom: none;
}

.functionality>select {
  background: transparent;
  width: auto;
  padding: 0px 5px 0px 5px;
  /*font-size: 18px;*/
  border: 2px solid #a0a0a0;
  /* border-radius:5px 5px 0 0; */
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../resources/layout/activities/dropdownnarrow_idle.png') 105% / 20% no-repeat #eee;
  cursor: pointer;	
}

.functionality>select:hover {
	background: url('../../resources/layout/activities/dropdownnarrow_pressed.png') 105% / 20% no-repeat #eee;
}

input[type="radio"] + span>span::before {
    content: url('../../resources/layout/activities/radio_btn_idle.png');
	position:relative;
	/*
    top:10px;
	left:-10px;
    */
    top: 3px;
    left: -15px;
}

input[type="radio"]:checked + span>span::before {
	content: url('../../resources/layout/activities/radio_btn_pressed.png');	
}

.showCorrect{
	background-color: #b2e2c3!important;
}
.showWrong{
	background-color: #ffb2b2!important;
}

input[type="radio"] + span > span.checkWrong::before{
	content: url('../../resources/layout/activities/radio_btn_wrong.png');
}

input[type="radio"] + span > span.checkCorrect::before{
	content: url('../../resources/layout/activities/radio_btn_correct.png');
}

 input[type="checkbox"] + span>span::before {
	content: url('../../resources/layout/activities/square_btn_Idle.png');
	position:relative;
	top:5px;
	left:-10px;
}

input[type="checkbox"]:checked + span>span::before {
        content: url('../../resources/layout/activities/square_btn_pressed.png');	
}

input[type="checkbox"] + span > span.checkWrong::before{
 content: url('../../resources/layout/activities/square_btn_wrong.png');
}

input[type="checkbox"] + span > span.checkCorrect::before{
 content: url('../../resources/layout/activities/square_btn_correct.png');
}
 
input[type="checkbox"], input[type="radio"] {
    left: -47px;
    position: relative;
    vertical-align: middle;
}

html[dir="rtl"] input[type="checkbox"], html[dir="rtl"] input[type="radio"] {
	left: auto;
	right: -47px;
}

.showMe {
    right: 0;
}

html[dir="rtl"] .showMe {
	left: 0;
	right: auto;
}

.mymark {
	float: right;
}

html[dir="rtl"] .mymark {
	float: left;
}

.hideMe{
	display:none;
}

.showMe {
    display:block;
}

.TrueFalse > li > ul > li > span > span> img{
	margin-top: 20px;
	border-radius: 30px;
	border:3px solid transparent;
}

.TrueFalse > li > ul > li > span > span.textSelected> img{
	border:3px solid #f26423;	
}

img{
	padding-top: 0px;
	padding-bottom: 0px;
}

.imageSelected {
	-webkit-box-shadow: 4px 4px 2px 0 blue;
	-moz-box-shadow: 4px 4px 2px 0 blue;
	box-shadow: 4px 4px 2px 0 blue;	
}

.TrueFalse > li > ul > li > span > span.checkCorrect img{
	border:3px solid #00be56;	
}

.TrueFalse > li > ul > li > span > span.checkWrong img{
	border:3px solid #ff0000;	
}

html[dir="rtl"] .imageSelected {
	-webkit-box-shadow: 4px 0 2px 4px blue;
	-moz-box-shadow: 4px 0 2px 4px blue;
	box-shadow: 4px 0 2px 4px blue;	
}
/*
.newJustDiv {
	width:40%;
	left: 50%;
	padding: 50px;
	background-color: #e5e6ef;
	position: fixed;
	bottom: 27px;
	z-index: 1000;
}
*/

.newJustDiv > .closebtn{
	top: 4px;
}

.SourceItems > li {
    margin-top: 20px;
}

/* Used For highlighting */
.colorText {
    color: #565549;
    font-weight:600;

}