@charset "utf-8";
/* CSS Document */
body > div.content > div.section{
	/*display:inline; commented out this because when two activities distroys multiple choibe*/
}

.activity_content.row .row:first-child div{
    /* padding: 0; */
	top: 3.5em;
	z-index: 100;
}

.activity_content.row .row:nth-child(2)  div{
	padding: 0;
	top: 45px;
}

.activity_content.row .row:nth-child(3) {
	top: -40px;
}

.opacity_0 {
    opacity:0;
}

.timelineDivClass p {
    /*margin: 0 0 20px;*/
}

.imageOnTop{
	position: absolute;
	top: 3.5%;
	right: 10%;
	bottom: 0px;
	left: 10%;
}

.activity_rubric.row {
	display: none;
}
body > div.content, .activity_content.row .row {
	padding-top: 0;
}
.interactiveRow.row {
	top: unset !important;
	bottom: calc(100% - 22em);
  }
.rubric {
	color: #00a039;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	font-family: 'league_spartanmedium';
  }
.row {
	position: relative;
}
img {
	max-height: 445px;
}
strong {
	font-weight: 900;
}
li {
	list-style: disclosure-closed;
	margin-left: 20px;
}
.fa {
	color: rgb(178, 226, 195);
	font-size: 35px;
}

.boxes {
	cursor: pointer;
	text-align: center;
}
.popBoxes {
	border-radius: 5px 20px 5px;
	padding: 10px;
	margin: 0px 1vw 0px 20px;
	/* display:none; */
	opacity: 0;
	transition-duration: 0.7s;
    transition-property: opacity;
}


#popBox1 {
  	background: #ffb2b2;
  }

  #popBox2 {
	background: #94c01b;
  }
 #popBox3 {
	background: #94c01b;
  }



