@charset "utf-8";
/* CSS Document */
body > div.content > div.section{
	/*display:inline; commented out this because when two activities distroys multiple choibe*/
}

.activity_content.row .row:first-child div{
    padding: 0;
}

.opacity_0 {
    opacity:0;
}

.timelineDivClass p {
    /*margin: 0 0 20px;*/
}

.imageOnTop{
	position: absolute;
	top: 3.5%;
	right: 10%;
	bottom: 0px;
	left: 10%;
}

/*
@media (max-width: 1024px) {
	.textArrow:before {
		padding-top:5px;
		left:25px;
	}
}

@media (max-width: 600px) {
    #timeline{
        display: none;
    }
}
*/
.activity_rubric.row {
    display: none;
  }