/* Hide Indicator Layer */
.introjs-helperLayer.highlightClass {
    /*display: none;*/
    background-color: transparent;
}

/* Tooltip Box Colors */
.introjs-tooltip {
    background-color: white;
}

.introjs-tooltiptext {
    padding: 25px 30px 15px;
    font-size: 15px;
}

/* Custom Close Button / Skip + Done */
.introjs-button.introjs-skipbutton {

    width: 10px;
    padding: 0;
    border: none;
    position: absolute;
    top: 10px;
    right: 0px;
}

/* Custom [x] Close Class */
.introjs-button.introjs-skipbutton > .closeIntro{
    font-size: 15px;
    font-weight: 900;
}

/* Buttons Style */
.introjs-button,
.introjs-button:focus,
.introjs-button:active {
    background-color: #FFF;
    color: #565549 !important;
    border-color: #565549;
}

.introjs-button:hover {
    background-color: #565549;
    color: #fff !important;
    border-color: #fff;
    box-shadow: none;
    text-shadow: none;
}

.introjs-disabled,
.introjs-disabled:hover,
.introjs-disabled:focus {
    color: #C2C2C2 !important;
    border-color: #d4d4d4;
    background-color: #E6E6E6;
    text-shadow: 1px 1px 0 #fff;
}

/* Full Border - Default Right Missing */
.introjs-prevbutton {
    border: 2px solid;
}

/* Position of Buttons */
.introjs-tooltipbuttons > a {
    padding: 5px 30px;
    margin: 0 20px;
}

.introjs-fixParent {
    /*visibility:visible;*/
    z-index: 1 !important;
}

/* PINK CLOSE BUTTON */
.introjs-button.introjs-nextbutton.introjs-disabled {
    visibility: hidden;
}
.introjs-button.introjs-skipbutton.introjs-donebutton {
    background-color: #f39;
    color: #fff !important;
    text-shadow: none;
    top: 135px;
    right: 10px;
    padding: 7px 0px;
    border: 2px solid;
    width: 87px;
}
