﻿@charset "utf-8";
/* CSS Document */

#text1, #text5{
    text-align: left;
}
#text5 .fullBackground{
    text-align: center;
    background-color: #ffec62;
    color: #565549;
}

#text1{
	padding-left:15px;
	padding-right:15px;
}

