.jBox-container {
    color: white;
    background-color: transparent;
}

.jBox-title, .jBox-content {
    background-color:rgba(86,85,73,0.95);
    padding: 0 10% 5% 5%;
    font-size: 1.5em;
    font-weight: 400;
}


.containerCloseJBox {
    cursor:pointer;
    text-align: right;
    font-size: 15px;
}

#closeJBox {
    display: contents;
}

.jBox-content > h1 {
    color: inherit;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 14px;
}