@charset "utf-8";
/* CSS Document */

ul.SourceItems > li, ul.TargetItems > li {
    list-style: none outside none;
}

/* activity_content_div_multiple > SourceItems   */
.SourceItems {
    /* margin: 0;
    padding: 0;
    width: 30%;
    display: block; */
}

.TrueFalse > li > ul {
    padding: 0px;
}

.stem {
    /* margin-bottom: 5%;
    padding: 3% 4% 0% 4%;
    width: 100%;
    */
}

.SourceItems > li > ul > li:nth-child(2) > ul > li {
	background: #e5e5e5;
    margin-bottom: 3%;
    width: 100%;
    margin-left: 0%;
    padding: 2%;
}

.SourceItems > li ul > li:nth-child(2) > ul > li > span > span {
	margin-left: 15%;
    /* Allows to be clickable all the way */
    display: block;
}

img {
    max-width: 33%;
}
