/* Container of Button */
.extraQuestion {
    position: absolute;
    top: 0vh;
    padding: 0;
}

/* The popOver Button */
#btnXtraQuestionBut, #btnExtraQuestionClose {
    box-sizing: content-box;
    padding: 0px 20px;
}


#btnXtraQuestionBut {
    background-color: #565549;
    color: white;
    line-height: 1.5;
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    width: 5%;
    font-size: 40px;
    font-weight: bolder;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    
    /* Bring Button in Front */
    z-index: 2000;
    position: relative;
}

#btnXtraQuestionBut > span {
    display: inline-block;
    /*
    animation-delay: 2s;
    */
    animation-duration: 1;
    animation-iteration-count: infinite;
}

#btnExtraQuestionClose {
    background-color: #565549;
    color: white;
    border: 2px solid white;
    margin: 1rem 0px;
}

/* The popOver */
.popover {
    font-size: 18px;
    font-weight: 600;
    max-width: 50%;
    max-height: 12rem;
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, .4);*/
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    
    top: 25px!important;
}

.popover>.arrow {
    position: absolute;
    margin: 15px 0 0 0;
    top: 1px !important;
}

.popover-header {
    font-size: 18px;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background-color: white;
}

.popover-body {
    overflow-y: auto;
    max-height: 11rem;
}

.xtraAnswersContainer {
    display: flex;
    justify-content: space-evenly;
}
/*
.xtraAnswers {
    cursor: pointer;
    padding: 0.2rem 1rem 1rem;
    display: inline-block;
}

.xtraAnswers > img {
    width: 30px;
}
*/

.xtraAnswers{
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background-color:white;
    border: solid 1px #565549;
    text-align: center;
    min-width: 40%;
    /*border-radius: 10px;*/
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    color:#565549;  
}


/* popOver's TRANSITION / Animation Classes */
.popOverTransition {
    /* transition: [property] [duration] [timing-function] [delay]; */
    /* transition: all 0.5s ease-in-out 0s; */
    /*
    transition: margin-left 0.5s ease-in-out 2s;
    transition: opacity 0.5s ease-in-out 1.9s;
    */
    transition: opacity 1s ease-in-out 2s, margin-left 0.5s ease-in-out 2.5s;
}

.popOverShowFeedBackTransition {
    transition: opacity 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s;
}

/* INIT TRANSITION CLASSES */
.initPopOverTransition {
    transition: opacity 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s;
}
.initSecondHidinPopOverTransition {
    transition: opacity 0.5s ease-in-out 0s, margin-left 0.5s ease-in-out 0s;
}

/* Classes TO show/hide */
.initSlideMeInLeft {
    margin-left: .5rem;
    opacity: 1;
}

.slideMeInLeft {
    margin-left: .5rem;
    opacity: 1;
    /* Feedback Box */
    background-color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,.4);
}

.slideMeOutLeft {
    margin-left: calc(-70%);
    opacity: 0;
}



