@charset "utf-8";
/* CSS Document */


#audioplayer{
	width: 100%;
	height: 60px;
    position: fixed;
    bottom: 0px;
	left:0px;
	background-color:white;
	
	/*background-image: url("../../resources/layout/menu/headerback.jpg");*/
    background-position: right top;
    background-repeat: repeat-x;	
	
	border: 0;
	/*
	border: 2px transparent;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	*/
	
    z-index: 10;
	/*opacity: .9;*/
}

/* 
.play{background: url('../../resources/layout/audioplayer/BtnPlay.png') ;}
.stop{background: url('../../resources/layout/audioplayer/BtnStop.png') ;}

.pause{background: url('../../resources/layout/audioplayer/BtnPause.png') ;}
*/


/*
#audioPlayButton, #audioStopButton{
	height:60px; 
	width: 60px;
	border: none;
	background-size: 85% 85%;
	background-repeat: no-repeat;
	background-position: center;

	outline:none;
	position: absolute;
	text-align:center;
	margin:0 auto;
}

#audioPlayButton{
	left: calc(100% - 460px)	
}

#audioStopButton{
	left: calc(100% - 400px)	
}
*/
#timeline {
    display: inline-block;  
    

    width: 150px;
    height: 5px;      
    position: relative;
    top: 2px;
    border-top: solid #FFF 1px;

    /*background: #8c8c8c;*/
    /*float: right;*/
}
#timeline.disabled,#playhead.disabled {
    border-top: solid #c7c7c7 1px;
}

#playhead{
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    margin-top: -6px;
}
#playhead.disabled {
    border: solid #fff 1px;
}

#durationIndicator{
    display: inline-block;  
    position: relative;
    margin-left: 1em;
    /*width: 12px;*/
    /*height: 12px;*/
    /*margin-top: -6px;*/
    
    font-weight: 600;
    color: #FFF;
}





.audioPlayerClass button{
    cursor:default;
}
#audioPauseButton{
    display:none;
}




#audioSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*
    border-radius: 5px;
    background: #d3d3d3;
    */
    border-top: solid #8c8c8c 1px;
}

#audioSlider:hover {
  opacity: 1;
}

#audioSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: default;
}

#audioSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: default;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {  
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: default;
}




















.hideItem{
	display:none;
}

.timelineTitle{
	font-size:24px; 
	line-height: 130%;
}

.timelineText p{
	font-size: 26px;
}

@media (max-width:1024px) {
	.timelineText {
		font-size: 22px;
	}
}

.activity_content [id*="timelineDiv"] p {
	margin-left:40px;
}