@charset "utf-8";
/* CSS Document */

/* HIDE ELEMENTS BELOW 0 Index */
.lowerIndex {
  z-index: -1;
}
/* NAV CLASSES */

nav {
  /*visibility:hidden;*/
  transition: opacity 1s;
}

/* NAV > MENU  */
nav {
  z-index: 4;
  font-size: 1.5em;
  font-weight: 700;
  background: rgba(0, 160, 57, 1);
  position: absolute;
  top: 101%;
  left: 0px;

  width: 100%;
  max-width: 22%;

  /*
    overflow: auto;
    max-height: 83vh;
    */
}

nav a {
  text-decoration: none;
}

nav a:hover {
  /*text-decoration: underline;*/
}

nav ul {
  /* Classes For Main Menu
    padding: 0 0 0 0;
	width: 100%;
    display: none;
    */
  display: inline;
  list-style: none;
}

/* 1st Level */
nav > ul li {
  color: white;
  /*
  text-transform: uppercase;
  letter-spacing: 0.2em;
  */
  padding: 8px 20px;
}

nav > ul > li:hover,
nav > ul > li:focus {
  color: #565549;
  cursor: pointer;
  background-color: #4dbd75;
}

nav > ul > li > .unitMenu {
  position: relative;
}

nav > ul > li > .unitMenu > .unitMenuTitle {
  /*
  display: block;
  padding-right: 1vw;
  */
}

.menuEx {
  /* padding: 15px 20px; */
}

.menuEx:hover, .menuEx:focus {
  color: #565549;
  background-color: #4dbd75;
}

.menuEx > a {
  /*
    font-weight: 600;
    font-size: 0.6em;
        
    /*content: '■';
    display: inline-block;
    
    width: 20px;
    height: 20px;
    
    color:#FFF;    
    background-color: #3bb4ed;
    
    position: relative;
    
    /* Classes For Main Menu - Lia Verou 
    box-sizing: border-box;
    border-width: 0;
    border-style:dashed; 
    */
}

/**** 
* NEW 
*****/

/* Make THe 1st Level Menu hover + focus 
.unitMenuTitle:hover, .unitMenuTitle:focus {
    color: #565549;
    cursor:pointer;
}
*/
.subMenu.subMenu1 {
  display: none;
  /*    
    position: fixed;
    left: 16.6%;
    top: 10%;
    background:rgba(77, 189, 117, 0.8);
    max-height: 60%;
    overflow: auto;
    */
  position: absolute;
  left: 100%;
  top: 0;
  background: rgba(0, 160, 57, 1);
  max-height: 60vh;
  overflow: auto;
  width: 38rem;
}
/*
.topMenuLevel>li:nth-child(2n) > ul  {
    top: 17%;
}
.topMenuLevel>li:nth-child(3n) > ul  {
    top: 22%;
}
.topMenuLevel>li:nth-child(4n) > ul  {
    top: 29%;
}
*/

/* VISIBILITY */
.alwaysHidden {
  display: none !important;
}

.displayNone {
  display: none;
}

/* ML - Menu Location */
.menuXpand {
  /*float: right;*/
  position: absolute;
  top: 0;
  right: 0;
}

.MPos {
  display: inline;
  left: 10px;
  position: absolute;
  padding: 1px 0px 0px 0px !important;
}

.MPos.displayNone {
  visibility: hidden;
}
/*
html[dir="rtl"] .MPos{
	left: auto;
    right: -10px;
}
*/

/****************************************
* OLD 
****************************************/

nav > ul > ul.accClass {
  cursor: pointer;

  width: 220px;
  display: block;

  padding: 20px 20px 15px 10px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#164673+0,174674+100 */
  background: #164673; /* Old browsers */
  /*
    background: -moz-linear-gradient(left, #164673 0%, #174674 100%);
    background: -webkit-linear-gradient(left, #164673 0%,#174674 100%);
    background: linear-gradient(to right, #164673 0%,#174674 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164673', endColorstr='#174674',GradientType=1 );
    */
}

/* All Sub Containers */
ul.accClass {
}

/* All Sub Levels */
.accClass li {
  /*to lesson menu*/
  /* Classes For Main Menu
    display: block;
    list-style: circle;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.45); 
    
    margin: 2px 0;
	padding: 5px 5px 5px 25px;
    */

  /*font-family: 'league_spartanregular', 'Open Sans', sans-serif;'Ubuntu', sans-serif;*/
  font-size: 15px;
  font-weight: bold;

  padding: 0px 5px 0px 0px;
}

/* All Sub Levels Content */
.accClass ul li {
  /* Classes For Main Menu
    padding: 5px 5px 18px 40px;
    
    background: #164673;
    */

  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);

  color: #fff;
  display: inline;
}

/* 2nd Level */
ul > ul.accClass {
  /* Classes For Main Menu
    width: 300px;
    background: #164673;
    */

  /* SAME AS BELOW 
    padding: 20px 0px 15px 10px;
    */
}

/* Classes For Main Menu - Bootstrap Tooltip*/
.tooltip-arrow {
  background-color: transparent;
}
.custom-tooltip + .tooltip > .tooltip-inner {
  background-color: #3bb4ed;
}

html[dir="rtl"] .accClass ul ul ul li {
  padding: 5px 60px 5px 5px;
}

/* 2nd Level Content */
.accClass ul ul li {
  background: rgba(0, 174, 255, 0.6);
  padding: 5px 5px 5px 50px;
}

/* 3rd Level Content */
.accClass ul ul ul li {
  font-weight: normal;
  cursor: pointer;
  background-color: #cbaf7f;
  padding: 5px 5px 5px 60px;
}

.accClass ul li li li.activeMenuElement {
  /*background-color: #6b2b5f;*/
}

.accClass ul li li.activeMenuElement {
  /* background-color: #6b2b5f;*/
}

.accClass ul li.activeMenuElement {
  /*background-color: #6b2b5f;*/
  /*background: url('../layout/accordionSmall_Active.png') no-repeat left;*/
}

.accClass li.activeMenuElement {
  /*background-color: #6b2b5f;*/
  /*background: url('../layout/accordion_Active.png') no-repeat left;*/
}

/*
@media (max-width:768px){
	.accClass li {
		font-size: 1.1em;
	}
}

html[dir="rtl"] nav a {
    display: inline-block;
}

*/

/* Classes For Main Menu - Lia Verou */
@keyframes border-width-anime {
  0% {
    border-width: 0;
  }
  100% {
    border-width: 10px;
  }
}

.borderAnimation {
  animation: border-width-anime 0.2s 10 alternate;
}

.borderAnimationAdjust {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
}

#\35 _8 {
  display: none;
}