@charset "utf-8";
/* CSS Document */

/*Property for IPad Scroll IFrames
*:not(html) {
    /*-webkit-transform: translate3d(0, 0, 0);
}
*/

/*************** GLOBAL CONTAINER ***************/
.main_wrapper, .theContent, .theNavigation, #bara-wrapper, #nav-wrapper{
    position: relative;
    width: 100%;
}
.main_wrapper{
    height: 100%;
}

#myObject {
	width: 100%;
    height: 100%;
}

iframe {
	border: none;
    width: 100%;
    height: 100%;
    /* background-color: white; */
}


/*************** HEADER ***************/

header{
    background-color: #00a039;
    align-items: center;
    border-bottom: 1.5px solid #f0efee;
    min-height: 10%;
    justify-content: center;
}

/* Burger Button */
#burgerContainer {
    /*background: transparent url("../../resources/layout/header/menuSeparator.jpg") left bottom/contain no-repeat;*/
    /* justify-content: left; */
    display: flex;
}
#burgerButton, #menuLogo {
    /*
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    */
}
#burgerButton {
    /*
    top: 5vh;
    max-width: 40%;
    */
}
#burgerButton > img {
    /* height: 1em; */
}

/* The Logo */
#menuContainer {
    justify-content: end;
    display: flex;
}
#menuLogo {
    /*top: 5vh;*/
}
#menuLogo > img {
    /* max-width: 100%; */
    height: 80px;
    width: auto;
}


/* The Titles */
#theTitles_app, #theTitles_unit_group, #theTitles_lesson_title{
    position: relative;
    /* 
    text-transform: uppercase;
    text-align: right;
    top: 4vh;
    transform: translateY(-50%);
    padding: 0.2em 0; 
    */
    font-family: 'league_spartanlight';
}
#theTitles {
    display: flex;
}

#theTitles_app, #theTitles_unit_group {
    align-self: end;
}
/* #theTitles_app span{
    color: #FFF;
} */
#theTitles_app > h1 {
    font-size: 5em;
    /*font-weight: 700;*/
    color: #FFF;
}
#theTitles_unit_group > h2 {
    font-size: 2em;
    /*font-weight: 600;*/
    color: #FFF;
    padding: 0px 0px 10px 10px;
}

/************ MAIN CONTAINER ***********/
main {
    height:90%;
}

section.theContent {
    height: 90%;    
    /*border-bottom: 1.5px solid #f0efee;*/
    background: url("../../resources/images/logo-back.png") no-repeat right top;
    background-size: auto 100%,auto 100%;
    background-position: calc(100% + 300px) calc(100% - 0px);
}

div#content_wrapper, div#contentDIV{
    height: 100%;
    /* Make it Full Width */
    padding: 0;
    /* Delete Main Scrolling Bar */
    overflow: hidden;
    /* background-color: #00a039; */
}


/************ BOTTOM NAVIGATION ************/

.theNavigation{
    position: relative;
    width: 100%;
    /* Careful the Intro.js can BREAK it
    * Possibly Work 
    */
    height: 10%;
    background-color: #00a039;
}
#bara-wrapper, #nav-wrapper {
    height: 50%;
    text-align: center;
}

/* Keep Icons Aligned */
#bara-wrapper > div > ul > li, #nav-wrapper > div > ul > li {
    display: inline;
    padding-left: 10px;
}

/* Clear Button's Background */
#bara-wrapper > div > ul > li > button, #nav-wrapper > div > ul > li > button {
	background: none;
}

/* Scale Buttons' Images */
#nav-wrapper > div > ul > li > button > img, #nav-wrapper > div > ul > li > input {
    height: 2.5em;
}
#bara-wrapper > div > ul > li > button > img, #bara-wrapper > div > ul > li > input {
    height: 2em;
}
/* Inputs Font */
#bara-wrapper > div > ul > li > input, #nav-wrapper > div > ul > li > input {
    font-weight: 600;
    color: #fff;
    width: 3.5em;
    background-color: #00a039;
}
/* Spacing of Main Subs DIVS */
#navDIV, #extraButtonsDIV, #audioPlayerDIV{
    padding:0.2%;
}
#navDIV, #audioPlayerDIV, #extraButtonsDIV, #bara-wrapper > div > ul > li > button > img, #bara-wrapper > div > ul > li > input, #nav-wrapper > div > ul > li > button > img, #nav-wrapper > div > ul > li > input {
    /*text-align: center;*/
}

/* NEW */
.extraQuestion{
    opacity:0;
}
#bookButton {
    cursor: pointer;
    margin-left: 2%;
}

#nav-wrapper > div > ul > li > button.makeSmall > img {
    height: 1.8em;
}
#bara-wrapper > div > ul > li > button.makeSmall > img {
    height: 1.3em;
}

/*
#myObject.shrink{
    width: 70%;
    margin-left: 0;
}
#myObject.unShrink {
    width: 70%;
    margin-left: 0;
}
*/

/*************************************
********* NEW MEDIA QUERIES **********
**************************************/



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){  
    #myObject {
        /* Added to Scroll iFrame in iPad */
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    
    /* Spread The Main Menu to fit further in the Scren */
    nav {
        max-width: 29.667%;
    }
    
    #burgerContainer {
        max-width: 29.667%;
        flex: 0 0 29.667%;
    }
    
    #timeline {
        width: 80px;
    }

}


/* New - Disactivate

/* AUDIOPLAYER 

.audioPlC > li {
    display : inline;
}

#audioScriptID {
    background-color: #FFFFFF;
    border: 2px solid #FFC200;
    height: 550px;
    padding: 0;
    width: 780px;

    position: absolute;
    top: 5px;

    display:none;
    overflow:scroll;

    /*Property for IPad Scroll IFrames
    -webkit-overflow-scrolling: touch;
}
#audioScriptObj {
    /*Property for IPad Scroll IFrames
    -webkit-overflow-scrolling: touch;
}
#audiopl[data-paused=true]{
    cursor:pointer;
}
#audiopl, #audiorew, #audiofor, #tapescr{
    cursor:pointer;
}
#audiopl[disabled], #audiorew[disabled], #audiofor[disabled], #tapescr[disabled]{
    cursor:default;
}


#seek-bar{
    cursor:pointer;
    position: relative;
}

html[dir="rtl"] #seek-bar{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#seek-bar[disabled]{
    cursor:default;
}
/* CSS For RANGE Field
input[type="range"] {

    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 70px;
}

input[type="range"].displayNone {
	display: none;
}

/* WEBKIT ONLY
input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 40px;
}
input[type="range"]:hover ~ #rangevalue, input[type="range"]:active ~ #rangevalue {

}
#rangevalue {
    bottom: 40px;
    color: #BB2317;
    font-size: 11px;
    position: relative;
    right: 80px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html[dir="rtl"] #rangevalue {
    left: 80px;
	right: auto;
}

/* AUDIOSCRIPT 

#tapescr:hover {

}
#tapescr[data-openscr=true]{

}

*/







/****************** UNCHECKED ******************/

img.kyklaki {
    position: absolute;
    cursor:pointer;
}

.whiteMe{
    color: #fff;
}


/*
img.selida {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

img.selida.myWidth {
    width: 780px;
}

img.selida.myHeight {
    width: 550px;
}

img.selida.fullWidth {
    max-height: none;
}
#selidaLinks, #selides{
    position:relative;	
}
*/
img.ImThumb {
    border: thin solid #D8D8D8;
    cursor:pointer;
	display:block;
    height: 176px;
	
}

div.ImThumb {
	display: inline-block;
    margin-bottom: 40px;
    margin-right: 40px;
    position: relative;
    text-align: center;
}

div.ImThumb div {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    position: absolute;
    right: 50%;
    text-align: center;
    top: -25px;
}

div.ImThumb div p {
	display: inline-block;
    margin-right: -100%;
    width: 250px;
}

img.ImThumb:nth-child(1) {
   /* margin-left: 70px;*/
}




@media (max-width: 767px) {
	#theTitles_unit_group{
		height: 50%;
		font-size: 1.5em;
		padding-top:0;
		/*background-image: url("../../resources/layout/menu/headerbackfirst0.jpg"), url("../../resources/layout/menu/headerbackfirst.jpg");
		background-position: left top, right top;
		background-repeat: no-repeat, repeat-x;	
		background-size: auto 100%,auto 100%;*/
	}
	#unitTitle{
		font-size: 0.9em;
		padding-top:0;
	}
	#theTitles_lesson_title{
		height: 50%;
		font-size: 1.4em;
		padding-top:0;
		/*background-image: url("../../resources/layout/menu/headerbacksecond1.jpg"), url("../../resources/layout/menu/headerbacksecond.jpg");
		background-position: left top, right top;
		background-repeat: no-repeat, repeat-x;	
		background-size: auto 100%,auto 100%;
		*/
		/*
		background-image: url("../../resources/layout/menu/headerbacksecond.jpg");
		background-position: right top;
		background-repeat:repeat-x;	
		*/
	}
	#unitNum{
		padding-top:0;
	}
}

#breadcrumbs {
    position: relative;
    padding: 0;
    color: #fff;
    white-space: nowrap;
    overflow:hidden;
    width: 517px;
    padding: 11px 0 11px 11px;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html[dir="rtl"] .accClass span {
	display: inline-block;
}

/* NAV CSS */
.responSize {
    /* Classes For Main Menu 
    width: 220px;    
    height: 100%;
    
    -webkit-box-shadow: 4px 0px 12px 0px rgba(11,115,182,0.45);
    -moz-box-shadow: 4px 0px 12px 0px rgba(11,115,182,0.45);
    box-shadow: 4px 0px 12px 0px rgba(11,115,182,0.45);
    */
}


.altColor {
   /* background: #666666 !important;*/
}



/* TAGS | LAYOUT  Part III*/
footer {
	/*display:none; /*HIDE FOOTER*/
    /*bottom: 0;
    clear: both;*/
    height: 60px;
    /*position: fixed;*/
    width: 100%;
	pointer-events: none;
    
    bottom: 0;
    clear: both;
    position: fixed;
    right: 0;
}

@media screen and (max-height: 550px) {
	footer {
		display:none; /*HIDE FOOTER*/
		height: 3em;
	}
}

/* FOOTER > BUTTONS  */
/*
#buttons {
	background: none repeat scroll 0 0 #fff3cc;
    height: 4em;
}*/



/* NEW DISABLED - old footer
.mainButtons, .toolBarButtons,  .audioPlC {
    display : inline;
    padding: 0;
    margin: 0;
}
.mainButtons > li, .toolBarButtons > li {
    display: inline;
}
.mainButtons {
	position: absolute;
	right :15px;
}
*/

@media screen and (min-width:0\0) {
	/*IE specific rules*/
	html[dir="rtl"] .toolBarButtons {
	 	border-bottom-right-radius: 0px;
	}
}

html[data-version="student"] .toolBarButtons > li {
	display:none;	
}

html[dir="rtl"] #tbhelp {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#seperator{
    margin:0;
    padding:0;
    position:relative;
    left:0px;
    top:0px;
}

html[dir="rtl"] #seperator{
	 -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
}



#notes {
    background-color: #FCFAF2;
    border: 2px solid;
    border-radius: 20px;
    bottom: 0;
    display: block;
    float: left;
    height: 80%;
    left: 10%;
    position: absolute;
    width: 80%;
}


html[dir="rtl"] .animated.fadeInLeft {
    animation-name: fadeInRight;
}

html[dir="rtl"] .animated.fadeOutLeft {
    animation-name: fadeOutRight;
}

#levelPages {
	display: inline-block;
    width: auto;
    height: auto;
    position: relative;
}



.hideMe{
    display:none !important;
}



#helptool{
    cursor:pointer;
    display: none; 
    position: absolute;   
    left: 7px; 
    top: 58px;
}

#grade{
    cursor:pointer;
    display: none; 
    position: absolute;   
    left: 7px; 
    top: 58px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Positioning of #helptool and #grades on Chrome */
    #helptool{
        /*margin-top: -571px;*/
		margin-top: -550px;
        left: 0px; 
        top: 0px;
    }

    #helptool > img {
       /* height: 571px;*/
    }
	
	#grade{
        /*margin-top: -571px;*/
		margin-top: -550px;
        left: 0px; 
        top: 0px;
    }

    #grade > img {
        /*height: 571px;*/
    }

    audio {
        height:0;
        width:0;
        position: absolute;
    }
}

/* ipads */
@media all and (device-width: 768px) and (device-height: 1024px) {

	#myObject{
		/*
        overflow: hidden;
		height: calc(100vh-58px);
        */
	}

	iframe{
		height: 100%;
		width: 100%;
	}

	div#contentDIV{
		min-height: 100%;
	}

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .ipad-portrait { color: red; } /* your css rules for ipad portrait */

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .ipad-landscape { color: blue; } /* your css rules for ipad landscape */
    #audioPlID {
        position: absolute;
        top:0px;
    }
    
    /* New - Disabled
    .navButtonsClass {
        top: 0px;
    }
    */
    body {
       /* -webkit-overflow-scrolling: touch;*/
    }
	
	/* Positioning of #helptool and #grades on iPad */
	#helptool{
        margin-top: -550px;
        left: 0px; 
        top: 0px;
    }

    #helptool > img {
        height: 550px;
    }
	
	#grade{
        margin-top: -550px;
        left: 0px; 
        top: 0px;
    }

    #grade > img {
        height: 550px;
    }
	
}