@charset "utf-8";

/* SIZE / POSITION / LAYOUT */

html,body{
    position: relative;
    width:100%;
    height:100%;
    
    /* Prevent body scrolling ios */
    overflow: hidden;
    position: fixed;
    
    
}
/*
body {
	overflow-y: hidden;
}
*/

/* FONTS */
html, body, input{
    font-family: 'league_spartanregular', 'Open Sans', sans-serif;
}

header, main, section, ul, li{
    position: relative;
}



/* COLORS */
html, body{
    background:#FFF;
    color:#000;	
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
    color: #565549;
}

/* LINKS / BUTTONS */
a, a:hover, a:focus{
    text-decoration: none;
    color: #fff;
}

a {
    color: #fff;
}

a:hover, a:focus {
    color: #565549;
}
a img{
    border: 0px;
}

button, input {
    border: none;
    padding: 0;
    
    /*
    display: inline-block;    
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    */
}

button:focus {
    
    outline: 1px solid #fff;
    /*
    outline-offset: -4px;
    */
}

button:hover,
button:focus {
    /*background: #0053ba;*/
}
button:active {
    /*
    transform: scale(0.99);
    */
}




/*
html[dir="rtl"] span {
   padding: 0 0 0 16px;
}



span {
    /* Classes For Main Menu
    padding: 0 16px 0 0;
    
    
    padding: 0 23px 0 0;
}
*/